# neogennium.com
# para adicionar comentario utilize o simbolo que esta no inicio desta linha
ErrorDocument 404 /error_pages/404.html
ErrorDocument 403 /error_pages/403.html
#
#--------------------------------------------------------------------
# 
# custom directory index files
# You can specify multiple files, and Apache will look for each in order, and present the first one it finds.
DirectoryIndex index.html index.htm index.php 
#
#--------------------------------------------------------------------
#
# Preventing Directory Listing
Options -Indexes
#
#
#--------------------------------------------------------------------
#
#
# ----------------------------------------------------------------------
#
#
# bloqueia o acesso ao arquivo .htaccess a partir do browser
<Files .htaccess>
order allow,deny
deny from all
</Files>
#
#
# bloqueia o acesso ao arquivo .htpasswd a partir do browser
<Files .htpasswd>
order allow,deny
deny from all
</Files>
#
# ----------------------------------------------------------------------
#
#
# cache images and flash content for one week
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>
#
# ----------------------------------------------------------------------
#
#

